// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#sidebarMenu{
  min-height: calc(100vh - 39.05px);
  background-color: #00000008!important;
  border-right: 1px solid #00000018;
}
